@charset "UTF-8";

	.container1 {
		position: relative;		
		width: 100%;
		height: 2271px;
		margin: 0px auto;
		
		/* background-color: white; */
	}
	
	#mainContents{
		position: relative;
		left:18.5%;
		right:18.5%;
		top:10px;
		bottom:100px;
		
		width: 1200px;
		height: 2271px;
		
<<<<<<< HEAD
		/* background-color: red; */
=======
		/*background-color: red;*/
>>>>>>> branch 'main' of https://github.com/multicampus8-group3/K-food_Search.git
	}
	
	#jido_world{
		position: relative;
		top: 10px;
		left: 0px;
		width: 1200px;
		height: 600px;
		
<<<<<<< HEAD
		/* background-color: gray; */
=======
		/*background-color: gray;*/
>>>>>>> branch 'main' of https://github.com/multicampus8-group3/K-food_Search.git
	}
	.map{
		position: relative;
		top: 0px;
		left: 0px;
	}
	
	#menu, #top_menu {
		-moz-box-shadow: 0 0 2px #ccc;
		-webkit-box-shadow: 0 0 2px #ccc;
		box-shadow: 0 0 2px #ccc;
		background: #fff;
	}
	
	#menu{
		position: relative;
		top: 20px;
		left: 0px;
		width: 1200px; /*980 1200 1900*/
		height: 551px; /*412 450 551 600 800*/
		
<<<<<<< HEAD
		/* background-color: gray; */
=======
		/*background-color: gray;*/
>>>>>>> branch 'main' of https://github.com/multicampus8-group3/K-food_Search.git
	}
	#top_menu{
		position: relative;
		top: 17px;
		width: 1200px; /*980 1200*/
<<<<<<< HEAD
		height: 430px; /*350 428*/
=======
		height: 428px; /*350 428*/
>>>>>>> branch 'main' of https://github.com/multicampus8-group3/K-food_Search.git
		
<<<<<<< HEAD
		/* background-color: gray; */
=======
		/*background-color: gray;*/
>>>>>>> branch 'main' of https://github.com/multicampus8-group3/K-food_Search.git
	}
	#bm_list{
		/* background-color:#ffff00; */
		margin:0 auto;
		width:100%;
	}
	.bm_box{
		width:23.3%;
		height:428px; /*350 428*/
		float:left;
<<<<<<< HEAD
		margin-right: 16px;
		position: relative;
		left:15px;
=======
		margin-right: 18px;
		position: relative;
		left:13px;
>>>>>>> branch 'main' of https://github.com/multicampus8-group3/K-food_Search.git
		top: 0px;
	}
	.bm_box img{
		width:100%;
<<<<<<< HEAD
		height: 250px; /*200 244*/
		margin-bottom:15px;
		border: solid 1px black;
=======
		height: 244px; /*200 244*/
		align:bottom;
>>>>>>> branch 'main' of https://github.com/multicampus8-group3/K-food_Search.git
	}
	#gg{
		position: relative;
		top: 28px;
		width: 1200px; /*980 1200*/
		height: 612px; /*500 612*/
		
<<<<<<< HEAD
		/* background-color: gray; */
=======
		/*background-color: gray;*/
>>>>>>> branch 'main' of https://github.com/multicampus8-group3/K-food_Search.git
	}
	
	/* 멀티플 슬라이더 */
	#menu li h2{
		text-align: center;
		width:303px; /*248 303 481*/
		line-height:184px; /*151 184 294*/
		margin:0px;
		padding:19px; /*16 32*/
		position:absolute;
		transform:translate(0%, -100%);
		color:white;
		-ms-user-select: none;
		-moz-user-select: -moz-none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
	#menu h2 span{
		background-color:gray;
		opacity: 0.3;
		position:absolute;
		top:19px;
		left:19px;
		right:19px;
		bottom:19px;
		
	}
	/*메뉴슬라이드 공통분모*/
	#menu .menuslide{
		max-width: 1004px;	/*820 960 1004 1900*/
	    width:100%;
	    height: 504px;		/*412 504 600 800*/
	    position: relative;
	}
	/*메뉴슬라이드 공통*/
	
	#menu .multiple_slider li img{
	    width: 303px; /*200 248 303 481*/
	    height: 184px; /*110 151 184 294*/	   
	    padding: 19px; /*16 19 32*/
	}
	
	#menu .controls .bx-prev, #menu .controls .bx-next{
	    position: relative;
	    left:100px;
	    top:40%;
	    transform:translateY(-50%);
	    font-size: 3.1em;
	    text-decoration-line: none;
	    color: black;
	}
	#menu .controls .bx-prev {
	    right:calc(100% + 40px);
	}
	#menu .controls .bx-next {
	    left:calc(100% + 40px);
	}