@charset "UTF-8";

.memFavorList li{
	float: left;
	background-color: rgba(165, 166, 143, 0.2);
	border: 1px solid rgba(165, 166, 143, 0.7);
	border-radius: 5px;
	margin-top: 10px;
	width: 28%;
	margin-left: 2%;
	margin-right: 2%;
}
.memFavorList img{
	text-align: center;
	width: 100%;
	height: 100px;
	margin-top: 5px;
	margin-bottom: 10px;
	object-fit: cover;
}
.memFavorList li span{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	margin-bottom: 5px;
	color: #2F4858;
}
.memFavorList li span:last-child{
	margin-bottom: 10px;
	font-weight: bold;
}
.memFavorList li span b {
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
}
.heart{
	width: 20px !important;
	font-size: 18px;
	margin-left: 82%;
	margin-top: 3px;
	color: #FF69B4 !important;
}
#memberFavor{
	border-top: 1px solid black;
	width: 555px;
	height: 550px;
	overflow: auto;
}