@charset "UTF-8";

.memberRev{
	float: left;
	width: 1178px;
	margin-top: 20px;
	height: 600px;
	border: 1px solid rgba(62, 97, 103, 0.3);
	border-radius: 5px;
	padding: 10px;
	background-color: rgba(205, 188, 171, 0.1);
}
.memberRev:hover{
	box-shadow: 1px 1px 10px rgba(42, 72, 88, 0.3);
}
.memberRev:focus-within {
  	box-shadow: 1px 1px 10px rgba(42, 72, 88, 0.3);
}
#memberReviewList {
	width: 95%;
	height: 200px;
	margin-top: 20px;
	margin-left: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid rgba(62, 97, 103, 0.3);
	border-right: none;
}
#memberReviewList:hover{
	background-color: rgba(205, 188, 171, 0.3);
}
#memberReviewList img {
	float: left;
	height: 90%;
	width: 15%;
}
#a{
	float: right;
	/* width: 83%; */
	width: 78%;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top:10px;
	margin-bottom: 5px;
	margin-right: 7%;
	line-height: 30px;
}
#a span{
	font-size: 28px;
	margin-left: 10px;
	font-weight: 600;
	color: #2F4858;
}
#b{
	float: right;
	/* width: 83%; */
	width: 78%;
	margin-right: 7%;
}
#b span{
	margin-left: 10px;
}
.adrr{
	float: right;
	margin-right: 10px;
}
#c{
	float: right;
	padding-left: 0px;
	/* width: 83%; */
	width: 73%;
	height: 95px;
	line-height: 30px;
	text-overflow: ellipsis;
	white-space: break-word;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 7%;
}
#c b{
	color: red;
	margin-left: 10px;
}
#c span{
	margin-left: 10px;
}
#memberReview{
	border-top: 1px solid rgba(62, 97, 103, 0.3);
	width: 100%;
	height: 530px;
	overflow: auto;
}