@charset "UTF-8";
.container{
	width: 1200px;
	margin: 0px auto;
}
.hello{
	width: 100%;
	height: 300px;
 	display: flex;
  	justify-content: center;
  	align-items: flex-end;
  	position: relative;
}
.hello::before{
	content: "";
	background: url('/img/oldhouse.jpg');
	background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.hello>div{
	width: 100%;
	height: 80px;
	position: relative;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}
.hellotext{
	width: 1200px;
	height: 80px;
	line-height: 40px;
	color: white;
	font-size: 20px;
	margin: 0 auto;
	position: relative;
}
#revStarCnt{
	font-weight: bold;
	color: yellow;
}
#favHeartCnt{
	font-weight: bold;
	color: pink;
}


.mypage_menu span{
	font-weight: 900;
	font-size: 32px;
	color: #2F4858;
	cursor: pointer;
	border-bottom: 1px solid #2F4858;
	border-left: 15px solid #2F4858;
}
.mypage_menu span.on{
	color: red;
	border-bottom: 1px solid red;
	border-left: 15px solid red;
}
.mypage_menu span:hover{
	font-size: 48px;
}


.mypage_container>div{
	display: block;
}

.mypage_container>div.edit{
	display: none;
}
.mypage_container>div.on{
	display: block;
}
#favorSeacrhFrm {
	float: right;
}