@charset "UTF-8";
.container{
	width: 1200px;
	margin: 0px auto;
}
.container div{
	float: left;
}
.hello{
	margin-top: 30px;
	width: 100%;
	font-size: 24px;
}
.mypage_menu{
	margin-top: 30px;
	padding: 20px; 
	width: 555px;
	height: 600px;
	background-color: rgba(205, 188, 171, 0.3);
	line-height: 32px;
	overflow: auto;
	border-radius: 3% 0 0 3%;
	border-bottom: 5px solid #2F4858;
	border-left: 5px solid #2F4858;
}
.mypage_menu span{
	font-weight: 900;
	font-size: 32px;
	color: #2F4858;
	cursor: pointer;
	border-bottom: 1px solid #2F4858;
	border-left: 15px solid #2F4858;
}
.mypage_menu span.on{
	color: red;
	border-bottom: 1px solid red;
	border-left: 15px solid red;
}
.mypage_menu span:hover{
	font-size: 48px;
}
.mypage_menu b{
	margin-left: 65%;
}
.mypage_container{
	margin-top: 30px;
	padding: 20px; 
	width: 555px;
	height: 600px;
	background-color: rgba(165, 166, 143, 0.3);
	border-radius: 0 3% 3% 0;
	border-bottom: 5px solid #2F4858;
	border-right: 5px solid #2F4858;
}

.mypage_container>div{
	display: none;
}

.mypage_container>div.on{
	display: block;
}