@charset "UTF-8";
.container{
	width: 1200px; margin: 0px auto;
	overflow: auto;
}

.bottom{
		position: relative;
		top: 60px;
		left: 10px;
		width: 980px;
		height: 170px;
		text-align: center;
		line-height: 170px;
		color: white;
		background-color: gray;
		border: 1px solid blue;
}
