@charset "UTF-8";
.resSignUpDiv{
		width:1200px;
		margin:0 auto;
		margin-top:100px;
		height:500px;
		overflow:auto;
		font-family : "Binggrae";
	}
	.resList{
		height:50px;
		width:1200px;
		margin:0 auto;
		text-align:center;
	}
	.resList li{
		float:left;
		width:12.5%;
		height:50px;
		line-height:50px;
		border-bottom:1px solid black;
		overflow:hidden;
		white-space:nowrap;
		text-overflow: ellipsis;
	}
	.listMenu{
		border-top:2px solid black;
		border-bottom:2px solid black !important;
	}		