@charset "UTF-8";
.resSignUpDiv{
			width:1200px;
			margin:0 auto;
			margin-top:10px;
			height:1500px;
			font-family : "Binggrae";
		}
		.mainText{
			display:inline-block;
			margin-left:150px;
			margin-bottom:20px;
			font-weight:bold;
			font-size:1.5em;
		}
		.resList{
			height:50px;
			width:1000px;
			margin:0 auto;
			text-align:center;
		}
		.resList li{
			float:left;
			width:16.6%;
			height:50px;
			line-height:50px;
			border-bottom:1px solid black;
			overflow:hidden;
			white-space:nowrap;
			text-overflow: ellipsis;
		}
		.listMenu{
			border-top:2px solid black;
			border-bottom:2px solid black !important;
		}	