<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.countryDAO">
	
	<select id="countryList" resultType="com.campus.myapp.vo.countryVO">
		select distinct nation
		from country
		order by no
	</select>
	<select id="stateList" resultType="com.campus.myapp.vo.countryVO">
		select no, nation, state 
		from country
		where nation=#{param1} 
		order by no
	</select>
	

	
</mapper>