<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.countryDAO">
	
	<select id="countryList" resultType="com.campus.myapp.vo.countryVO">
		select distinct nation
		from country
		order by no
	</select>
	
	<select id="stateList" resultType="com.campus.myapp.vo.countryVO">
		select no, nation, state 
		from country
		where nation=#{param1} 
		order by no
	</select>
	
	<select id="restListByNation" resultType="com.campus.myapp.vo.RestaurantVO">
		select distinct(resname), resstate, resnation,rescontent,resadress,restype,resgrade
		from restaurant_table r join country c
		on r.resnation = c.nation and r.resnation=#{param1}
	</select>
	
	<select id="restListRestype" resultType="com.campus.myapp.vo.RestaurantVO">
		select distinct(resname), resstate, resnation,rescontent,resadress,restype,resgrade
		from restaurant_table r join country c
		on r.resnation = c.nation and r.restype=#{param1}
	</select>
	
	<select id="restList" resultType="com.campus.myapp.vo.RestaurantVO">
		select r.resstate, r.resno, r.resname, r.resgrade, r.resadress, r.rescontent, c.nation, c.state
		from restaurant_table r join country c
		on r.resnation = c.nation and 
		r.resstate=c.state 
		where r.resnation=#{param1} and r.resstate=#{param2}
	</select>
	
</mapper>