<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.FaqDAO">
	<insert id="faqMake">
		insert into faq_table(content) values(#{content})
	</insert>
	
	<select id="faqList" resultType="com.campus.myapp.vo.FaqVO">
		select no, content from faq_table
	</select>
	
	<delete id="faqDel">
		delete from faq_table where no=#{param1}
	</delete>
	
	<insert id="faqAnswerInsert">
		insert into faq_answer(resno,faqno,content) values(#{param1},#{param2},#{param3})
	</insert>
	
	<select id="faqAnswerUpdateList" resultType="FaqAnswerVO">
		select a.faqno faqno2, a.content content2, q.content faqcontent2 from faq_answer a join faq_table q on a.faqno=q.no where resno=#{param1};		
	</select>
	
	<delete id="faqAnswerDel">
		delete from faq_answer where resno=#{param1}
	</delete>
	<select id="faqSelect" resultType="FaqAnswerVO">
		select que.content faqcontent2, ans.content content2 
		from faq_answer as ans 
		join faq_table as que 
		on ans.faqno = que.no  
		where ans.resno = #{resno};
	</select>
</mapper>