<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 김자영- 메인페이지 ad_banner -->
<mapper namespace="com.campus.myapp.dao.mainAdDAO">
	<select resultType="mainAdVO" id="mainAdSelect">
		<!-- join문! ad.resno=res.resno 중에서 ad.status가 ok인 애들 배너 이미지, 국가, 지역, 이름, 주소, 정보 가져오기입니다.-->
		select ad.bannerimg, res.resnation, res.resstate, res.resname, res.resadress, res.rescontent 
		from ad_table ad join restaurant_table res on ad.resno = res.resno and ad.status="start";
	</select>

</mapper>