<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.RestaurantDAO">
	
	<select id="restaurantList" resultType="com.campus.myapp.vo.RestaurantVO">
		select resno, resname, resadress, format(resgrade,1) resgrade, 
		userid, resnation, resstate, date_format(writedate,'%Y-%m-%d') writedate
		from restaurant_table
		order by resno desc
	</select>
	
	<select id="getSearchList" resultType="com.campus.myapp.vo.RestaurantVO">
		select resno, resname, resadress, format(resgrade,1) resgrade, 
		userid, resnation, resstate, date_format(writedate,'%Y-%m-%d') writedate
		from restaurant_table
		<if test='searchWord != null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
		order by resno desc
	</select>
	
	<insert id="restaurantInsert">
		insert into restaurant_table(resname,resadress,rescontent,userid,resnation,resstate,restype,resimg,reshour,reshourend,website) 
		value(#{resname},#{resadress},#{rescontent},#{userid},#{resnation},#{resstate},#{restype},#{resimg},#{reshour},#{reshourend},#{website})
	</insert>
	
	<select id="restaurantMyList" resultType="RestaurantVO">
		select resno, resname, resadress, reshour, reshourend, format(resgrade,1) resgrade, 
		userid, resnation, resstate, date_format(writedate,'%Y-%m-%d') writedate
		from restaurant_table where userid = #{param1} 
		order by resno asc
	</select>
	
	<delete id="restaurantDel">
		delete from restaurant_table where resno=#{param1};
	</delete>
	
	<select id="restaurantUpdateList" resultType="RestaurantVO">
		select resno, resimg, resname, rescontent, reshour, reshourend, website, restype, resadress, format(resgrade,1) resgrade, 
		userid, resnation, resstate, date_format(writedate,'%Y-%m-%d') writedate
		from restaurant_table where resno = #{param1}
	</select>
	
	<select id="maxResno" resultType="int">
		select resno from restaurant_table where resno=(select max(resno) from restaurant_table);
	</select>
	
	<select id="restarantImgDel" resultType="String">
		select resimg from restaurant_table where resno=#{param1}
	</select>
	
	<update id="restaurantUpdateOk">
		update restaurant_table set resname=#{resname}, resadress=#{resadress}, rescontent=#{rescontent}, userid=#{userid}, resnation=#{resnation}, resstate=#{resstate}, restype=#{restype}, resimg=#{resimg}, reshour=#{reshour}, reshourend=#{reshourend}, website=#{website} where resno=#{resno}
	</update>

<!-- 추가부분 -->
	<select id="resList" resultType="com.campus.myapp.vo.RestaurantVO">
		select resname, resadress, resgrade, rescontent, resnation, resstate, restype, resimg, resno 
		from restaurant_table
		order by resno desc
	</select>
	<select id="resSelect" resultType="com.campus.myapp.vo.RestaurantVO">
		select resname, resadress, resgrade, rescontent, resnation, resstate, restype, resimg, resno 
		from restaurant_table
		where resno=#{resno}
	</select>
</mapper>