<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.RestaurantDAO">
	
	<select id="restaurantList" resultType="com.campus.myapp.vo.RestaurantVO">
		select resno, resname, resadress, format(resgrade,1) resgrade, 
		userid, resnation, resstate, date_format(writedate,'%Y-%m-%d') writedate
		from restaurant_table
		order by resno desc
	</select>

</mapper>