<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.RestaurantDAO">
	
	<select id="restaurantList" resultType="com.campus.myapp.vo.RestaurantVO">
		select resno, resname, resadress, format(resgrade,1) resgrade, 
		userid, resnation, resstate, date_format(writedate,'%Y-%m-%d') writedate
		from restaurant_table
		order by resno desc
	</select>
	
	<select id="getSearchList" resultType="com.campus.myapp.vo.RestaurantVO">
		select resno, resname, resadress, format(resgrade,1) resgrade, 
		userid, resnation, resstate, date_format(writedate,'%Y-%m-%d') writedate
		from restaurant_table
		<if test='searchWord != null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
		order by resno desc
	</select>
	
	<insert id="restaurantInsert">
		insert into restaurant_table(resname,resadress,rescontent,userid,resnation,resstate,restype,resimg,reshour,website) 
		value(#{resname},#{resadress},#{rescontent},#{userid},#{resnation},#{resstate},#{restype},#{resimg},#{reshour},#{website})
	</insert>
	
	<select id="restaurantMyList" resultType="RestaurantVO">
		select resno, resname, resadress, reshour, format(resgrade,1) resgrade, 
		userid, resnation, resstate, date_format(writedate,'%Y-%m-%d') writedate
		from restaurant_table where userid = #{param1} 
		order by resno asc
	</select>
	
	<delete id="restaurantDel">
		delete from restaurant_table where resno=#{param1};
	</delete>
	
	<select id="restaurantUpdateList" resultType="RestaurantVO">
		select resno, resname, rescontent, reshour, website, restype, resadress, format(resgrade,1) resgrade, 
		userid, resnation, resstate, date_format(writedate,'%Y-%m-%d') writedate
		from restaurant_table where resno = #{param1}
	</select>
</mapper>