<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.ReviewDAO">

	<select id="reviewList" resultType="com.campus.myapp.vo.ReviewVO">
		select rev.no no, rev.userid userid, res.resname resname, rev.grade grade, 
		rev.content content, rev.writedate writedate
		from review_table as rev
		join restaurant_table as res
		on rev.resno = res.resno
		order by rev.no desc
	</select>
	
	<select id="getSearchList" resultType="com.campus.myapp.vo.ReviewVO">
		select rev.no no, rev.userid userid, res.resname resname, rev.grade grade, 
		rev.content content, rev.writedate writedate
		from review_table as rev
		join restaurant_table as res
		on rev.resno = res.resno
		<if test='searchWord != null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
		order by rev.no desc
	</select>
	
	<select id="memberReviewList" resultType="com.campus.myapp.vo.ReviewVO">
		select rev.no no, rev.userid userid, res.resname resname, rev.grade grade, 
		rev.content content, rev.writedate writedate, res.resgrade resgrade, res.resimg resimg  
		from review_table as rev
		join restaurant_table as res
		on rev.resno = res.resno
		where rev.userid = #{userid} 
		order by rev.no desc
	</select>
	
	<select id="memberReviewCount" resultType="com.campus.myapp.vo.ReviewVO">
		select count(no) memreviewcount from review_table where userid=#{userid} 
	</select>

</mapper>