<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.ReviewDAO">

	<select id="reviewList" resultType="com.campus.myapp.vo.ReviewVO">
		select rev.no no, rev.userid userid, res.resname resname, rev.grade grade, 
		rev.content content, rev.writedate writedate, res.resimg resimg, res.resno resno
		from review_table as rev
		join restaurant_table as res
		on rev.resno = res.resno 
		<if test='searchWord != null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
		order by rev.no desc limit ${onePageRecord} offset ${offsetIndex}
	</select>
	
	<select id="getSearchList" resultType="com.campus.myapp.vo.ReviewVO">
		select rev.no no, rev.userid userid, res.resname resname, rev.grade grade, 
		rev.content content, rev.writedate writedate
		from review_table as rev
		join restaurant_table as res
		on rev.resno = res.resno
		<if test='searchWord != null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
		order by rev.no desc
	</select>
	
	<select id="memberReviewList" resultType="com.campus.myapp.vo.ReviewVO">
		select rev.no no, rev.userid userid, res.resname resname, rev.grade grade, 
		rev.content content, rev.writedate writedate, res.resgrade resgrade, res.resimg resimg,
		res.resadress resadress, res.resno resno   
		from review_table as rev
		join restaurant_table as res
		on rev.resno = res.resno
		where rev.userid = #{userid} 
		order by rev.no desc
	</select>
	
	<select id="memberReviewCount" resultType="com.campus.myapp.vo.ReviewVO">
		select count(no) memreviewcount from review_table where userid=#{userid} 
	</select>
	
	<insert id="reviewWrite">
		replace into review_table(resno, userid, grade, content)
		values(#{resno}, #{userid}, #{grade}, #{content})
	</insert>
	
	<select id="resReviewList" resultType="com.campus.myapp.vo.ReviewVO">
		select resno, userid, content, writedate, grade 
		from review_table
		where resno=${param1}
		order by no desc
	</select>
	
	<select id="getRatingAverage" resultType="double">
		select avg(grade) from review_table
		where resno=#{resno}
	</select>
	
	<update id="updateRating">
		update restaurant_table
		set resgrade=#{resgrade}
		where resno=#{resno}
	</update>
	

</mapper>